:root {
    --font-stack: monospace;
    --paper: white;
    --ink: black;
    --thickness: 3px;
    --margin: 3vw;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    /* outline: 1px solid rgba(255, 0, 0, 0.15); */
}

body {
    background-color: var(--current);
    font-family: var(--font-stack);
    /* color: var(--ink); */
    display: grid;
    grid-template-columns: min-content 1fr;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    justify-items: flex-start;
    align-items: flex-start;
    color: var(--ink);
}

header {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    gap: 1rem;
    padding: var(--margin);
    overflow-y: auto;
    justify-items: center;
    align-items: center;
    background-color: var(--side);
}

input[type="color"] {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 4rem;
    border-radius: 1rem;
    max-width: 280px;
    border: none;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🪄</text></svg>") 16 0, auto;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border-radius: 1rem;
    border: var(--thickness) solid var(--ink);
}

input[type="color"]::-moz-color-swatch {
    border-radius: 1rem;
    border: var(--thickness) solid var(--ink);
}

input[type="text"] {
    font: inherit;
    display: block;
    padding: 0.5rem;
    font-size: 1.4rem;
    text-align: center;
    width: 100%;
    border-radius: 1rem;
    background-color: var(--paper);
    color: var(--ink);
    max-width: 280px;
    border: var(--thickness) solid var(--ink);
    /* background-color: transparent; */
}

main {
    display: grid;
    max-height: 100vh;
    width: 100%;
    padding: var(--margin);
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(min(12rem, 100%), 1fr));
    overflow-y: auto;
}

header>a {
    margin-top: auto;
}

figure {
    display: block;
    width: 100%;
    height: fit-content;
    padding: 1rem;
    overflow: hidden;
    border-radius: 1rem;
    border: var(--thickness) solid var(--ink);
}

ul {
    display: flex;
    flex-direction: column;
    /* gap: 0.5rem; */
    color: var(--active-fg);
}

li {
    list-style: none;
    font-family: var(--font-stack);
    font-size: 0.9rem;
    padding: 0.5rem;
    border-radius: var(--thickness);
    /* font-size: smaller; */
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>✅</text></svg>") 16 0, auto;
}

li:hover {
    outline: var(--thickness) solid var(--active-fg);
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>📋</text></svg>") 16 0, auto;
}

li:first-child {
    font-weight: 900;
    font-size: 1.2rem;
}

li:active {
    background-color: var(--active-bg);
    outline: var(--thickness) solid var(--active-fg);
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>✅</text></svg>") 16 0, auto;
}

a,
a:link,
a:visited {
    display: inline;
    position: relative;
    padding: 2px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-skip-ink: none;
    text-underline-offset: 4px;
    color: var(--active-fg);
    font-weight: 500;
    white-space: nowrap;
    transition: text-decoration-thickness 0.2s ease, text-underline-offset 0.2s ease;
}

a:hover {
    color: inherit;
    text-decoration-thickness: 6px;
    text-underline-offset: 2px;
}

#nocolors {
    font-size: 1rem;
    line-height: 140%;

    width: 100%;
    /* height: fit-content; */
    padding: 1.5rem;
    overflow: hidden;
    border-radius: 1rem;
    border: var(--thickness) solid var(--ink);
}

.IroSlider {
    background: unset !important;
}

@media (max-width: 640px) {
    body {
        grid-template-columns: 1fr;
        justify-items: flex-start;
        align-items: flex-start;
    }

    main {
        height: 100%;
        max-height: unset;
        padding: 2rem;
        overflow-y: unset;
    }

    header {
        height: fit-content;
        padding: 3rem 0;
        overflow-y: unset;
    }
}